In [90]:
# Import dependencies
import pandas as pd
import hvplot.pandas

# Function for combining graphs
def overlay(df, df2):
    df * df2

In [121]:
# Import Constant Maturity Treasury Rate
treasuries = pd.read_csv(
    "constant_maturity_treasury_rates.csv",
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

# Import Gold Prices

,1-month,3-month,6-month,1-year,2-year,3-year,5-year,7-year,10-year,20-year,30-year
Date,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,3.22,NaN,3.70,3.88,NaN,4.06,4.07,NaN
1962-01-03,NaN,NaN,NaN,3.24,NaN,3.70,3.87,NaN,4.03,4.07,NaN
1962-01-04,NaN,NaN,NaN,3.24,NaN,3.69,3.86,NaN,3.99,4.06,NaN
1962-01-05,NaN,NaN,NaN,3.26,NaN,3.71,3.89,NaN,4.02,4.07,NaN
1962-01-08,NaN,NaN,NaN,3.31,NaN,3.71,3.91,NaN,4.03,4.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-09-28,2.63,3.40,3.87,3.99,4.07,4.12,3.92,3.83,3.72,3.98,3.70
2022-09-29,2.78,3.36,3.87,3.98,4.16,4.19,3.98,3.89,3.76,4.00,3.71
2022-09-30,2.79,3.33,3.92,4.05,4.22,4.25,4.06,3.97,3.83,4.08,3.79
2022-10-03,2.87,3.46,3.97,4.01,4.12,4.12,3.90,3.79,3.67,4.00,3.73
2022-10-04,2.91,3.45,3.98,4.15,4.10,4.08,3.84,3.73,3.62,3.95,3.70